<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camera</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
    
             
			
            <center><h2 class="mt-5">Camera Access</h2></center>
			<form method="post" action="{{ url_for('camera_a.tasks') }}">
			<input type="submit" value="Stop/Start" name="stop" />
			<input type="submit" value="Capture" name="click"/>
			<input type="submit" value="Grey" name="grey" />
			<input type="submit" value="Start/Stop Recording" name="rec" />
			</form>
        <center><img src="{{ url_for('camera_a.video_feed') }}" height="50%" width="50%">	</center>
            </div>
        </div>
    </div>
    </body>
    
</html>
